@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
/* обнуление общих параметров */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
section,
header,
footer {
  display: block;
}

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  min-width: 300px;
  width: 100%;
  background: #fff;
  color: #1D0C03;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* / обнуление общих параметров */
body {
  line-height: 1.33;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  color: #1D0C03;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
  justify-content: space-between;
}

.justify-content-between {
  justify-content: space-between;
}

.none {
  display: none !important;
}

.body-fixed {
  position: fixed;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img.ibg-img {
  display: none;
}

li.counter {
  list-style-type: none;
  counter-reset: item;
}
li.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
li.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  padding: 26px 0;
}
.header-main {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  max-width: 230px;
  max-height: 49px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  margin: 0 -14px;
}
.header__li {
  margin: 0 14px;
}
.header__link {
  font-weight: 600;
  color: #1D0C03;
  transition: 0.4s;
}
.header__link:hover {
  color: #DC6D48;
  transition: 0.4s;
}
.header__wrapper-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__subtitle {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 3px;
}
.header__text {
  font-weight: 600;
}
.header__right {
  display: flex;
}
.header__social {
  padding-right: 35px;
}
.header__sub-list {
  position: relative;
  transition: 0.4s;
}
.header__sub-list span {
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translate(-50%, -50%);
}
.header__sub-list:hover .icons-arrow {
  fill: #DC6D48;
  transform: rotate(180deg);
}

.header__burger {
  display: none;
}

.header__body {
  position: relative;
}

.topmenu {
  height: 100%;
}

.topmenu > li {
  display: flex;
  align-items: center;
  position: relative;
}

.wrapper-submenu {
  background: white;
  position: absolute;
  top: 55px;
  left: -100%;
  display: none;
  z-index: 5;
  transform: rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: 0.4s ease-in-out;
  width: 346px;
  padding: 18px;
  margin: 0px -7px 0 -7px;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
}

.submenu {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.submenu::after {
  content: "";
  position: absolute;
  left: 50%;
  top: -44px;
  border: 13px solid transparent;
  border-bottom: 13px solid #fff;
  z-index: 5;
}
.submenu::before {
  content: "";
  position: absolute;
  left: 0;
  top: -31px;
  width: 100%;
  height: 13px;
}

.topmenu > li:hover .wrapper-submenu {
  display: block;
  transform: rotateX(0deg);
  transition: 0.4s ease-in-out;
}

.topmenu > li:hover .submenu {
  transform: rotateX(0deg);
  transition: 0.4s ease-in-out;
}

.submenu li {
  flex: 0 0 calc(100% / 3 - 14px);
  margin: 0 7px 8px 7px;
}

.icons {
  display: flex;
  align-items: center;
  margin: 0 -5px;
}
.icons__item {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}
.icons-arrow {
  transition: 0.4s;
  width: 7px;
  height: 5px;
  fill: #1D0C03;
}

.type-link2 {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 3px;
}

.text-right {
  text-align: right;
}

.pr42 {
  padding-right: 42px;
}

.not-pc {
  display: none !important;
}

input.error,
textarea.error {
  border-color: red;
}

.section-background-premier {
  background: url("../img/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 133px 0 0px 0;
}

.premier-subtitle {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
}
.premier-title {
  font-size: 60px;
  font-weight: bold;
  color: #FFFFFF;
  max-width: 554px;
  line-height: 72px;
}
.premier-title2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}
.premier-title2-bottom {
  padding-bottom: 31px;
}
.premier-popup {
  padding: 17px 0px 15px 0;
}
.premier-popup-bottom {
  margin-bottom: 107px;
}
.premier-popup__link {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
  padding: 17px 16px 16px;
  transition: 0.4s;
}
.premier-popup__link:hover {
  background: #FFFFFF;
  color: #DC6D48;
}
.premier-popup__link:active {
  color: #DC6D48;
  background: transparent;
  border: 1px solid #DC6D48;
}
.premier-dark {
  background: rgba(29, 12, 3, 0.6);
  padding: 44px 0;
}

.dark {
  display: flex;
  justify-content: space-between;
}
.dark__item {
  padding: 6px 0;
  padding-left: 14px;
  position: relative;
}
.dark__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 4px;
  height: 100%;
}
.dark-text {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  max-width: 242px;
}

.section-choice {
  background: #F2F2F2;
}

.main-title {
  font-size: 54px;
  line-height: 66px;
  font-weight: bold;
  text-align: center;
}
.main-title-bottom {
  padding-bottom: 10px;
}
.main-subtitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
}
.main-subtitle-bottom {
  padding-bottom: 9px;
}

.all-park {
  padding: 16px 43px 15px;
  color: #DC6D48;
  background: transparent;
  border: 1px solid #DC6D48;
}
.all-park-wrapper {
  padding: 16px 0;
}
.all-park:hover {
  background: #DC6D48;
  color: #fff;
}

.choice {
  padding: 121px 0 101px 0;
}
.choice-popup {
  padding: 12px 50px;
  margin: 0 auto;
}
.choice-popup .premier-popup__link {
  padding: 12px 51px 11px;
  border: 1px solid #DC6D48;
}
.choice-popup .premier-popup__link:hover {
  color: #DC6D48;
  background: transparent;
  border: 1px solid #DC6D48;
}
.choice-title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #1D0C03;
  transition: 0.4s;
}
.choice-title:hover {
  color: #DC6D48;
}
.choice-title-bottom {
  padding-bottom: 4px;
}
.choice-subtitle {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.choice-subtitle-bottom {
  padding-bottom: 20px;
}
.choice-img-bottom {
  margin-bottom: 15px;
}
.choice-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -11px;
  padding-bottom: 29px;
}
.choice-wrapper__item {
  margin: 11px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 412px;
  padding-bottom: 30px;
}
.choice-wrapper__img {
  width: 100%;
  max-height: 220px;
}
.choice-wrapper__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.df-jcc {
  display: flex;
  justify-content: center;
}

.section-manipulator {
  background: linear-gradient(87.94deg, #D27152 0.57%, #BF5E28 99.33%);
  padding: 50px 0;
}

.manipulator {
  display: flex;
  position: relative;
}
.manipulator-img {
  max-width: 875px;
  max-height: 568px;
  position: absolute;
  bottom: -30px;
  right: -120px;
}
.manipulator-img img {
  width: 100%;
  height: 100%;
}
.manipulator-content {
  max-width: 468px;
}
.manipulator-content-sub {
  max-width: 305px;
}
.manipulator-title2-bottom {
  padding-bottom: 10px;
}
.manipulator-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.manipulator-text-bottom {
  padding-bottom: 31px;
}
.manipulator-input {
  border: 1px solid #FFFFFF !important;
  background: transparent;
  color: #DBDBDB !important;
}
.manipulator-input::placeholder {
  color: #DBDBDB;
}
.manipulator-link .premier-popup__link {
  padding: 16px 18px 15px !important;
  background: #FFFFFF;
  color: #DC6D48;
}
.manipulator-link .premier-popup__link:hover {
  color: #fff !important;
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%) !important;
}

.section-what {
  background: #F2F2F2;
  padding: 100px 0 80px 0;
}

.what-text {
  color: #361504;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  max-width: 505px;
}
.what-text-bottom {
  padding-bottom: 4px;
}
.what-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.what-wrapper__item {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(12, 55, 56, 0.1);
  padding: 30px 89px 32px 36px;
  margin: 20px 10px;
  position: relative;
  max-width: 630px;
  flex: 0 0 calc(50% - 20px);
}
.what-wrapper__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
  width: 6px;
  height: 100%;
}
.what-subtitle-bottom {
  padding-bottom: 18px;
}
.what-title {
  color: #361504;
  font-size: 24px;
  font-weight: 600;
  max-width: 505px;
}
.what-center-bottom {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 24px;
}

.section-how {
  padding: 100px 0 100px 0;
}

.how-bottom {
  padding-bottom: 60px;
}
.how-wrapper {
  display: flex;
}
.how-wrapper__item {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.how-wrapper__item::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  width: 100%;
  background: #DBDBDB;
  height: 2px;
}
.how-text {
  color: #361504;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  max-width: 230px;
}
.how-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 32px;
  z-index: 2;
}
.how-circle-bottom {
  margin-bottom: 20px;
}

.how-wrapper__item:last-child::before {
  width: 0;
  height: 0;
}

.section-calc {
  padding: 82px 0 100px 0;
  background: #F2F2F2;
}

.calc-line {
  max-width: 348px;
  display: flex;
  justify-content: center;
  margin: 0 auto 25px auto;
}
.calc-line__item {
  position: relative;
  flex: 0 0 20%;
}
.calc-line__item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 12px;
  width: calc(100% - 12px);
  background: #DBDBDB;
  height: 2px;
  z-index: 1;
}
.calc-line__circle {
  background: #DBDBDB;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.calc-line__item.active:not(:last-child)::before {
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
}
.calc-line__item.active .calc-line__circle {
  background: #fff;
  border: 4px solid #DC6D48;
}
.calc-text-all {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #DC6D48;
}
.calc-text-all-bottom {
  padding-bottom: 107px !important;
}
.calc-number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
.calc-number__current {
  font-weight: 600;
  font-size: 32px;
  line-height: 24px;
  text-align: right;
  color: #DC6D48;
  padding-right: 5px;
}
.calc-number__all {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #DBDBDB;
  text-align: center;
}
.calc-wrapper {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
  padding: 64px 162px 60px 162px;
}
.calc-wrapper__item {
  display: none;
}
.calc-wrapper__item.active {
  display: block;
}
.calc-line__item:last-child {
  max-width: 12px;
}
.calc-title {
  color: #361504;
  font-size: 32px;
}
.calc-bottom {
  max-width: 1000px;
  padding-bottom: 40px;
  text-align: start;
}
.calc-max {
  max-width: 100%;
  padding-bottom: 37px;
  text-align: center;
}

.capacity {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  padding-bottom: 24px;
}
.capacity__item {
  flex: 0 0 calc(100% / 3 - 20px);
  margin: 18px 10px;
  position: relative;
}
.capacity__item.active .capacity-link {
  background: transparent;
}
.capacity__item.active .capacity__circle {
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
}
.capacity__item.active .capacity__circle img {
  display: block;
}
.capacity-next {
  text-align: center;
}
.capacity-next .premier-popup__link {
  border: 1px solid #DC6D48;
  padding: 16px 15px 15px;
}
.capacity__img {
  width: 100%;
  max-height: 158px;
  overflow: hidden;
}
.capacity__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.capacity__content {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.capacity__circle {
  background: rgba(29, 12, 3, 0.1);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.capacity__circle img {
  display: none;
}
.capacity__text {
  color: #1D0C03;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding-left: 12px;
}
.capacity-link {
  display: block;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.5) 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.capacity-link:hover {
  background: transparent;
}

.wrapper-links {
  display: flex;
  justify-content: center;
}

.premier-prev-link {
  margin-right: 20px;
}

.input-number {
  width: 56px;
  height: 52px;
  border: 1px solid #DBDBDB;
  display: flex;
  align-items: center;
  padding-left: 14px;
  color: #1D0C03;
  opacity: 0.96;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.input-number-top {
  margin-top: 12px;
}

.wrapper-range {
  display: flex;
  justify-content: center;
  padding-bottom: 363px;
}

.range-container {
  max-width: 520px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  margin-right: 27px;
}

.range {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(90deg, #DC6D48 50%, #DBDBDB 50%);
  border-radius: 8px;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
  border: 3px solid #fff;
  cursor: pointer;
}

.range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
  border: 3px solid #fff;
  cursor: pointer;
}

.input-values {
  display: flex;
  justify-content: space-between;
}
.input-values-bottom {
  margin-bottom: 10px;
}
.input-values-top {
  margin-top: 10px;
}
.input-value {
  color: #1D0C03;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.max-form-width {
  max-width: 305px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.section-know {
  padding: 100px 0;
}

.know-wrapper {
  display: flex;
}
.know-wrapper__item {
  flex: 0 0 calc(50% - 10px);
}
.know-wrapper__item:not(:last-child) {
  margin-right: 20px;
}
.know-bottom {
  padding-bottom: 40px;
  max-width: 815px;
  margin: 0 auto;
  text-align: center;
}
.know-title {
  font-weight: 600;
  font-size: 24px;
  color: #361504;
  padding-bottom: 7px;
}
.know-text {
  line-height: 22px;
  color: #361504;
  padding-bottom: 20px;
}
.know h4 {
  font-weight: 600;
  font-size: 24px;
  color: #361504;
  padding-bottom: 7px;
}
.know p, .know ol, .know ul {
  line-height: 22px;
  color: #361504;
  padding-bottom: 20px;
}
.know ol {
  margin-left: 20px;
}
.know ul {
  list-style-type: none;
}
.know ul li:before {
  content: "•";
  margin-right: 5px;
}

.section-contact {
  background: url("../img/contact.webp");
  background-repeat: no-repeat;
  width: 100%;
  padding: 102px 0 101px 0;
  background-size: cover;
  background-position: 50% 50%;
}

.contact {
  padding: 40px 40px 50px 40px;
  background: #FFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
  max-width: 468px;
}
.contact-popup {
  text-align: start;
}
.contact-popup .premier-popup__link {
  padding: 16px 81px 15px;
}
.contact-title {
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;
  padding-bottom: 21px;
}
.contact-text-type-1 {
  display: block;
  text-transform: uppercase;
  color: #361504;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 9px;
  transition: 0.4s;
}
.contact-text-type-1:hover {
  color: #DC6D48;
  transition: 0.4s;
}
.contact-text-type-2 {
  font-size: 18px;
  font-weight: 500;
  color: #361504;
  padding-bottom: 30px;
}

.mob {
  display: none;
}

.link-show-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  transition: 0.4s;
  color: #DC6D48;
  position: relative;
}
.link-show-text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #DC6D48;
}
.link-show-text:hover::before {
  width: 100%;
}

.section-top {
  background: #F2F2F2;
  padding: 87px 0 100px 0;
}

.top {
  display: flex;
}
.top__item {
  flex: 0 0 50%;
}
.top-title {
  color: #1D0C03;
}
.top-wrapper-text {
  margin-top: 26px;
  background: #F2F2F2;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
  padding: 30px 20px;
}
.top p, .top ol, .top ul {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #361504;
}
.top p:not(:last-child), .top ol:not(:last-child), .top ul:not(:last-child) {
  padding-bottom: 20px;
}
.top-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #361504;
}
.top-text:not(:last-child) {
  padding-bottom: 20px;
}

.park {
  padding-top: 27px;
}
.park-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.park-wrapper__item {
  margin: 10px;
  flex: 0 0 calc(25% - 20px);
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
}
.park-wrapper__price {
  display: flex;
  justify-content: space-between;
}
.park-wrapper__content {
  padding: 20px 20px 40px 20px;
}
.park-wrapper__characteristic {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}
.park-wrapper-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.park-wrapper-title-bottom {
  padding-bottom: 10px;
}
.park-wrapper__img {
  width: 100%;
}
.park-wrapper__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.park-wrapper-top {
  margin-top: 40px;
  margin-bottom: 40px;
}
.park-title {
  color: #361504;
  padding-bottom: 14px;
}
.park-list {
  display: flex;
  flex-wrap: wrap;
}
.park__li {
  margin-bottom: 2px;
  display: flex;
  align-items: flex-end;
}
.park__li:not(:last-child) {
  margin-right: 20px;
}
.park__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  color: #DC6D48;
  transition: 0.4s;
}
.park__link::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
  transition: 0.4s;
}
.park__link:hover::before {
  width: 0;
}
.park__link.active {
  color: #361504;
}
.park__link.active::before {
  background: #361504;
}
.park-rectangle {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 21px 20px 19px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.park-rectangle__item {
  display: flex;
}
.park-rectangle__item:not(:last-child) {
  padding-bottom: 8px;
}
.park-rectangle::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
}
.park-subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #361504;
  padding-right: 20px;
}

a.park-wrapper-title {
  color: #1D0C03;
  display: block;
  transition: 0.4s;
}
a.park-wrapper-title:hover {
  color: #DC6D48;
}

.characteristic-text {
  padding-bottom: 4px;
  line-height: 22px;
  color: #361504;
}

.price-old {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: rgba(54, 21, 4, 0.4);
}
.price-new {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #361504;
}
.price-link {
  padding: 12px 0 11px 0;
  margin: 0;
}
.price-link .premier-popup__link {
  padding: 12px 26px 11px;
}

.section-benefit {
  padding: 100px 0;
}

.benefit-text {
  font-size: 16px;
  line-height: 24px;
  color: #361504;
}
.benefit-text span {
  font-weight: bold;
}
.benefit-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -15px -10px;
}
.benefit-wrapper__item {
  margin: 15px 10px;
  flex: 0 0 calc(50% - 20px);
  display: flex;
}
.benefit-wrapper-sub {
  display: flex;
  width: 100%;
  height: 100%;
}
.benefit-wrapper-main {
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
  padding: 32px 28px 32px 26px;
  position: relative;
}
.benefit-wrapper-main::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
}
.benefit-wrapper__subitem {
  flex: 0 0 calc(50% - 10px);
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
  position: relative;
  padding: 20px 28px 20px 26px;
}
.benefit-wrapper__subitem:first-child {
  margin-right: 20px;
}
.benefit-wrapper__subitem::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
}
.benefit-bottom {
  padding-bottom: 14px;
  max-width: 791px;
  margin: 0 auto;
}
.benefit-subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #361504;
}
.benefit-subtitle-bottom {
  padding-bottom: 30px;
}

.section-help {
  padding: 110px 0 100px 0;
  background: url("../img/orange-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.help-form {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
  padding: 30px 40px 40px 40px;
  max-width: 955px;
  margin: 0 auto;
}
.help-form-wrapper {
  display: flex;
}
.help-form-wrapper input {
  margin-right: 20px;
  border: 1px solid #361504;
}
.help-form-title {
  max-width: 514px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.help-form-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #361504;
  text-align: center;
  padding-bottom: 24px;
}
.help-form-con {
  max-width: 629px;
}
.help-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  max-width: 320px;
  color: #F2F2F2;
  text-align: center;
}
.help-text-top {
  padding-top: 20px;
}
.help-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.help-wrapper__item {
  flex: 0 0 calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.help-wrapper__circle {
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #DC6D48;
  display: flex;
  justify-content: center;
  align-items: center;
}
.help-title {
  color: #fff;
  padding-bottom: 10px;
}
.help-subtitle {
  color: #fff;
  padding-bottom: 40px;
  max-width: 675px;
  margin: 0 auto;
}

.section-where {
  padding: 100px 0 46px 0;
}

.where-content {
  padding-top: 24px;
  max-width: 278px;
  text-align: center;
}
.where-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.where-wrapper__item {
  flex: 0 0 calc(100% / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 54px;
}
.where-wrapper__circle {
  width: 70px;
  height: 70px;
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.where-bottom {
  padding-bottom: 20px;
  margin: 0 auto;
  max-width: 700px;
}
.where-text {
  line-height: 22px;
  color: #361504;
  text-align: center;
  max-width: 666px;
  margin: 0 auto;
}
.where-text-bottom {
  padding-bottom: 50px;
}

.btn-help-form {
  padding: 16px 41px 15px;
  border: 1px solid #DC6D48;
}

.help-text2 {
  max-width: 200px;
}

.pb0 {
  padding-bottom: 0;
}

.gray-phone {
  background: #F2F2F2;
}

.white-phone {
  background: #ffffff;
}

.know-wrapper__item img {
  width: 100%;
}

.help-form-contact {
  flex-direction: column;
  max-width: 330px;
  margin: 0 auto;
}
.help-form-contact input {
  margin-right: 0;
  margin-bottom: 10px;
}
.help-form-contact .btn-help-form {
  margin-top: 14px;
}

.max489 {
  max-width: 489px;
}

.item-type2 {
  flex: 0 0 calc(100% / 3 - 20px);
}

.type4-top {
  padding-top: 8px;
}

.type3-wrapper {
  padding: 12px 0 11px 0;
  width: 100%;
  display: flex;
}

.type3-link {
  width: 100%;
  min-width: 100%;
  padding: 12px 43px 11px;
  text-align: center;
}

.mb0 {
  margin-bottom: 0;
}

.pt77 {
  padding-top: 77px;
}

.shipping-benefit {
  padding: 20px 30px 20px 26px;
}

.shipping-bottom {
  padding-bottom: 30px;
}

.shipping-item1 {
  flex: 0 0 calc(37.5% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shipping-item2 {
  flex: 0 0 calc(62.5% - 10px);
}

.center-auto {
  text-align: center;
  margin: 0 auto;
  max-width: 1031px;
}

.max-784 {
  max-width: 784px;
}

.shipping-main-title {
  max-width: 100%;
}

.shipping-main-bottom {
  padding-bottom: 40px;
}

.section-review {
  padding: 100px 0;
  background: url("../img/review.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.review {
  margin: 0 auto;
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
  max-width: 955px;
  padding: 50px 40px;
}
.review-form input {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background: transparent;
}
.review-form .btn-help-form {
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  color: #DC6D48;
}
.review-form .btn-help-form:hover {
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
  color: #FFFFFF;
}
.review-subtitle {
  color: #fff;
  padding-bottom: 10px;
  max-width: 388px;
  margin: 0 auto;
}
.review-text {
  color: #F2F2F2;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  max-width: 355px;
  padding-bottom: 24px;
}

.section-bg-view {
  padding: 92px 0;
  background: url("../img/bg-last.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.bg-view-title {
  max-width: 1026px;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto;
}

.bg-view-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #F2F2F2;
  margin: 0 auto;
  max-width: 630px;
  padding-bottom: 30px;
}

.bg-view-popup {
  display: flex;
  justify-content: center;
  padding: 17px 15px 16px;
}

.min-popup .premier-popup__link {
  min-width: 240px;
  text-align: center;
}

.footer {
  background: #DBDBDB;
  padding: 38px 0 30px 0;
}
.footer-link-color {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #DB6D4A;
  position: relative;
}
.footer-link-color::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
  height: 1px;
  transition: 0.4s;
}
.footer-link-color:hover::before {
  width: 100%;
}
.footer-main {
  display: flex;
}
.footer-main__item {
  flex: 0 0 calc(100% / 3);
}
.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  margin: 0 auto;
}
.footer__li {
  flex: 0 0 50%;
  padding-bottom: 8px;
}
.footer__link {
  font-weight: 600;
  line-height: 17px;
  color: #1D0C03;
  transition: 0.4s;
}
.footer__link:hover {
  color: #DB6D4A;
}
.footer-text {
  color: #361504;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  max-width: 205px;
}
.footer-text-color {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #DB6D4A;
}
.footer-text-bottom {
  padding-top: 11px;
  padding-bottom: 46px;
}
.footer-link-type {
  display: block;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  margin-bottom: 16px;
}
.footer-end {
  justify-content: flex-end;
  padding-right: 0;
}

.wrapper-link-color {
  display: flex;
  justify-content: center;
}

.ai-end {
  display: flex;
  align-items: flex-end;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.popup-wrapper-lock {
  display: flex;
  align-items: center;
}
.popup-lock {
  max-width: 12px;
  max-height: 14px;
  margin-right: 4px;
}
.popup-lock img {
  width: 100%;
  height: 100%;
}
.popup-premier-bottom {
  margin-bottom: 18px;
  width: 100%;
  padding: 0;
}
.popup-premier-bottom .premier-popup__link {
  display: block;
  text-align: center;
  width: 100%;
  border: 1px solid #DC6D48;
  padding: 13px 15px;
}
.popup-premier-bottom .premier-popup__link:hover {
  color: #DC6D48;
  background: #fff;
  border: 1px solid #DC6D48;
}
.popup-btn {
  width: 100%;
}
.popup-title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  max-width: 348px;
}
.popup-title-bottom {
  padding-bottom: 24px;
}
.popup-title2 {
  font-weight: bold;
  font-size: 32px;
  color: #FFFFFF;
  text-align: center;
}
.popup-title2-pad {
  padding: 34px 0 10px 0;
}
.popup-text {
  font-size: 12px;
  font-weight: 500;
  color: #361504;
}
.popup-text2 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #F2F2F2;
}
.popup-text2-pad {
  padding-bottom: 33px;
}
.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-input {
  width: 100%;
  border: 1px solid #DBDBDB;
  font-weight: 500;
  font-size: 16px;
  color: #1D0C03;
  padding: 17px 0 14px 24px;
}
.popup-input::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #DBDBDB;
}
.popup-input-bottom {
  margin-bottom: 10px;
}
.popup-input-bottom2 {
  margin-bottom: 24px;
}

.popup__opas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup__wrapp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 3px;
  z-index: 9999;
  padding: 56px 60px;
  max-width: 630px;
  width: 100%;
  overflow-y: auto;
  max-height: 100%;
}
.popup__wrapp-type-2 {
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
}

.popup__close {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 28px;
  right: 28px;
  transition: 0.4s;
  cursor: pointer;
  background: url(../img/svg/close2.svg) 50% 50% no-repeat;
}

.popup__close2 {
  background: url(../img/svg/close3.svg) 50% 50% no-repeat;
}

.popup-mob {
  display: none;
}

.wrapper-scroll {
  display: flex;
  justify-content: flex-end;
}

.scroll-mob {
  display: none;
}

.scroll-up {
  transition: all 0.4s ease 0s;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #DB6D4A;
  margin-top: 4px;
  position: relative;
}
.scroll-up::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
  height: 1px;
  transition: 0.4s;
}
.scroll-up:hover::before {
  width: 100%;
}

@media (max-width: 1200px) {
  .park-wrapper__item {
    flex: 0 0 calc(100% / 3 - 20px);
  }

  .benefit-wrapper {
    margin: -15px 0px;
  }
  .benefit-wrapper__item {
    margin: 15px 0px;
    flex: 0 0 100%;
  }

  .manipulator-img {
    max-width: 575px;
    right: 0;
  }

  .pr42 {
    padding-right: 10px;
  }

  .header__social {
    padding-right: 10px;
  }

  .header__logo {
    max-width: 200px;
    max-height: 42px;
  }

  .header__right {
    flex-wrap: wrap;
  }

  .header__li {
    white-space: nowrap;
  }

  .header__right.header-pc {
    padding-left: 20px;
  }

  .header__menu {
    padding-left: 20px;
  }
}
@media (max-width: 1024px) {
  .manipulator-img {
    max-width: 475px;
  }

  .calc-wrapper {
    padding: 50px 50px 50px 50px;
  }

  .choice-wrapper {
    justify-content: center;
  }

  .top {
    flex-direction: column;
  }
  .top__item {
    flex: 0 0 100%;
  }
}
@media (max-width: 992px) {
  .where-wrapper__item {
    flex: 0 0 calc(100% / 3);
  }

  .park-wrapper__item {
    flex: 0 0 calc(50% - 20px);
  }

  .dark {
    flex-wrap: wrap;
  }
  .dark__item {
    margin-bottom: 10px;
  }

  .manipulator-img {
    max-width: 375px;
  }

  .header__list {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .where-wrapper__circle {
    width: 50px;
    height: 50px;
  }
  .where-wrapper__circle img {
    max-width: 25px;
  }

  body.lock {
    overflow: hidden;
  }

  body.lock1 {
    overflow: hidden;
  }

  .container {
    padding: 0 10px;
  }

  .header__sub-list:hover .icons-arrow {
    transform: none;
  }

  .header {
    padding: 21px 0;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 42px;
    height: 42px;
    background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
    border-radius: 50%;
    z-index: 7;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 19.25px;
    height: 1.75px;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 19.25px;
    height: 1.75px;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: calc(50% - 5.75px);
  }
  .header__burger:after {
    bottom: calc(50% - 7.5px);
  }
  .header__burger.active {
    background: transparent;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 50%;
    left: 12px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    top: 50%;
    left: 12px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
    padding: 0px 10px 0px 10px;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0;
    z-index: 6;
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: scroll;
  }
  .header__menu.active .header__logo.not-pc {
    max-width: 180px;
    max-height: 38px;
  }
  .header__menu.active .not-pc {
    display: block !important;
    margin-bottom: 16px;
  }
  .header__menu.active .header__link {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
  }
  .header__menu.active .header__link:hover {
    color: #1D0C03;
  }
  .header__menu.active .header__link:hover .icons-arrow {
    fill: #1D0C03;
  }
  .header__menu.active .header__li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__menu.active .wrapper-submenu {
    background: transparent;
    position: static;
    display: none !important;
    transform: none;
    width: auto;
    padding: 0;
    margin: 0px;
    filter: none;
  }
  .header__menu.active .wrapper-submenu.active {
    display: block !important;
  }
  .header__menu.active .submenu {
    flex-direction: column !important;
  }
  .header__menu.active .submenu::before {
    width: 0;
    height: 0;
  }
  .header__menu.active .submenu::after {
    border: none;
  }
  .header__menu.active .submenu li {
    flex: 1 1 auto;
    margin: 0 0px 5px 0px;
  }
  .header__menu.active .type-link2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
  }
  .header__menu.active .header__social {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .header__menu.active .header__li {
    padding-bottom: 4px;
  }
  .header__menu.active .icons-arrow {
    fill: #FFFFFF;
  }
  .header__menu.active .icons-arrow.active {
    fill: #FFFFFF;
    transform: rotate(180deg);
  }
  .header__menu.active .header__list {
    flex-direction: column;
  }
  .header__menu.active .popup-white {
    background: #FFFFFF;
    color: #DC6D48;
    border: 1px solid #DC6D48;
  }
  .header__menu.active .popup-white:hover {
    color: #FFFFFF !important;
    background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%) !important;
  }
  .header-pc {
    display: none;
  }

  .section-top {
    padding: 30px 0 50px 0;
  }

  .top-wrapper-text {
    margin: 20px -10px 0 -10px;
    padding: 20px 10px;
  }

  .park {
    padding-top: 50px;
  }
  .park-title {
    padding-bottom: 20px;
  }
  .park-rectangle::before {
    width: 0;
    height: 0;
  }
  .park-rectangle__item {
    flex-direction: column;
  }
  .park-rectangle__item:not(:last-child) {
    padding-bottom: 12px;
  }
  .park-subtitle {
    padding: 0 0 4px 0;
  }

  .benefit-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }
  .benefit-subtitle-bottom {
    padding-bottom: 20px;
  }
  .benefit-wrapper {
    margin: -10px 0px;
  }
  .benefit-wrapper-sub {
    flex-wrap: wrap;
  }
  .benefit-wrapper__item {
    margin: 10px 0px;
  }
  .benefit-wrapper-main {
    padding: 20px 10px;
  }
  .benefit-wrapper-main::before {
    left: auto;
    right: 0;
  }
  .benefit-wrapper__subitem {
    flex: 0 0 100%;
    background: #fff;
    padding: 20px 10px;
    margin: 10px 0;
  }
  .benefit-wrapper__subitem:first-child {
    margin-right: 0px;
    margin-top: 0;
  }
  .benefit-wrapper__subitem:last-child {
    margin-bottom: 0;
  }
  .benefit-wrapper__subitem::before {
    left: auto;
    right: 0;
  }

  .where-wrapper__item {
    flex: 0 0 calc(100% / 2);
    margin-bottom: 24px;
  }

  .section-where {
    padding: 50px 0 22px 0;
  }

  .where-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  .where-bottom {
    padding-bottom: 14px;
  }

  .where-text-bottom {
    padding-bottom: 24px;
  }

  .section-benefit {
    padding: 50px 0;
  }

  .popup-pc {
    display: none;
  }

  .section-background-premier {
    padding: 30px 0 0px 0;
    background: linear-gradient(184.48deg, rgba(54, 21, 4, 0.9) 0%, rgba(58, 24, 6, 0.8) 94.21%), url(../img/bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .wrapper-show-text {
    display: none;
  }

  .footer-main {
    flex-wrap: wrap;
  }
  .footer-main__item {
    flex: 0 0 100%;
  }
  .footer-center {
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer-list {
    margin: 0;
    padding-bottom: 20px;
  }
  .footer-link-type {
    font-size: 16px;
    text-align: left;
    margin-bottom: 0px;
  }
  .footer-text-bottom {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .footer-first {
    order: 1;
    flex-direction: column;
    align-items: center;
  }
  .footer-link-color {
    text-align: start;
  }

  .wrapper-scroll {
    justify-content: flex-start;
  }

  .scroll-pc {
    display: none;
  }

  .mob50 {
    flex: 0 0 50%;
  }

  .scroll-mob {
    display: flex;
  }

  .scroll-up {
    margin-top: 9px;
    margin-bottom: 16px;
  }

  .main-title {
    font-size: 28px;
    line-height: 34px;
  }

  .main-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .choice {
    padding: 50px 0 50px 0;
  }
  .choice-wrapper {
    margin: 0;
    justify-content: center;
  }
  .choice-wrapper__item {
    margin: 10px;
  }

  .manipulator-img {
    display: none;
  }
  .manipulator-content {
    max-width: 100%;
  }
  .manipulator-content-sub {
    max-width: 100%;
  }
  .manipulator-text {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
  .manipulator-text-bottom {
    padding-bottom: 14px;
  }
  .manipulator .popup-premier-bottom {
    margin-bottom: 0px;
  }

  .premier-title2 {
    font-size: 28px;
    line-height: 34px;
    text-align: center;
  }
  .premier-title2-bottom {
    padding-bottom: 0;
  }

  .section-what {
    padding: 50px 0 50px 0;
  }

  .what-wrapper {
    flex-direction: column;
    margin: 0;
  }
  .what-wrapper__item {
    max-width: 100%;
    width: 100%;
    margin: 10px 0;
    padding: 20px 10px;
  }
  .what-wrapper__item::before {
    left: auto;
    right: 0;
  }
  .what-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    max-width: 100%;
  }
  .what-title-bottom {
    padding-bottom: 10px;
  }
  .what-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    max-width: 100%;
  }

  .section-how {
    padding: 50px 0 50px 0;
  }

  .how-bottom {
    padding-bottom: 22px;
  }
  .how-circle {
    margin-right: 12px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 29px;
  }
  .how-text {
    text-align: start;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    max-width: 200px;
  }
  .how-wrapper {
    flex-direction: column;
    margin: 0 auto;
    max-width: 253px;
  }
  .how-wrapper__item {
    flex: 0 0 auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .how-wrapper__item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    width: 2px;
    background: #DBDBDB;
    height: 100%;
  }

  .section-know {
    padding: 50px 0 30px 0;
  }

  .shipping-bottom {
    padding-bottom: 14px;
  }

  .know-wrapper {
    flex-direction: column;
  }
  .know-wrapper__item:not(:last-child) {
    margin-right: 0px;
  }
  .know-bottom {
    padding-bottom: 20px;
  }
  .know h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 4px;
  }
  .know p, .know ul, .know ol {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 20px;
  }

  .premier-subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
  .premier-title {
    font-size: 30px;
    line-height: 37px;
    max-width: 100%;
    text-align: center;
    padding-bottom: 4px;
  }
  .premier-title2-mob {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
  .premier-dark {
    background: transparent;
    padding: 33px 0 50px 0;
  }

  .dark {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 20px;
  }
  .dark__item {
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
  }
  .dark__item:not(:first-child) {
    margin-top: 8px;
  }
  .dark__item::before {
    top: auto;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
  }
  .dark-text {
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    max-width: 242px;
  }

  .popup-mob {
    display: flex;
    padding: 24px 0 0 0;
    margin: 0 auto;
  }

  .section-calc {
    padding: 50px 0 50px 0;
  }

  .calc-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
  .calc-bottom {
    padding-bottom: 20px;
    max-width: 100%;
  }
  .calc-wrapper {
    padding: 30px 10px;
  }
  .calc-number {
    padding-bottom: 7px;
  }
  .calc-number__current {
    font-size: 24px;
    line-height: 24px;
    padding-right: 3px;
  }

  .capacity {
    margin: 0 -5px;
  }
  .capacity__item {
    flex: 0 0 calc(100% / 2 - 10px);
    margin: 7px 5px;
  }
  .capacity__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    padding-left: 6px;
    max-width: 88%;
  }

  .calc-max {
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .wrapper-links {
    flex-direction: column;
  }

  .premier-prev-link {
    margin-right: 0px !important;
  }

  .premier-prev-link:hover, .premier-next-link:hover {
    background: linear-gradient(87.94deg, #DB6D4A 0.57%, #E8702D 99.33%);
    color: #FFFFFF;
  }

  .premier-popup.capacity-next:not(:last-child) {
    margin-bottom: 20px;
  }

  .range-container {
    max-width: 100%;
  }

  .popup__wrapp {
    padding: 40px 10px;
  }

  .wrapper-range {
    padding-bottom: 100px;
  }

  .pc {
    display: none;
  }

  .mob {
    display: block;
  }

  .contact.mob {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px 40px 10px;
    box-shadow: none;
    background: #F2F2F2;
    max-width: 100%;
  }

  .contact.white-phone.mob {
    background: #ffffff;
  }

  .contact-title {
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    padding-bottom: 14px;
  }

  .contact-text-type-1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0px;
    transition: 0.4s;
  }

  .contact-text-type-2 {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 20px;
  }

  .section-contact {
    padding: 103px 0 103px 0;
  }

  .section-help {
    padding: 50px 0;
  }

  .help-form {
    padding: 20px 10px 30px 10px;
  }
  .help-form-title {
    max-width: 100%;
    padding-bottom: 4px;
  }
  .help-form-subtitle {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 14px;
  }
  .help-form-wrapper {
    flex-direction: column;
  }
  .help-form-wrapper input {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .help-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    max-width: 100%;
    margin-left: 12px;
  }
  .help-text-top {
    padding-top: 0px;
  }
  .help-title {
    padding-bottom: 14px;
  }
  .help-subtitle {
    padding-bottom: 20px;
    max-width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }
  .help-wrapper {
    flex-direction: column;
  }
  .help-wrapper__item {
    flex: 0 0 100%;
    flex-direction: row;
    margin-bottom: 16px;
  }
  .help-wrapper__circle {
    width: 40px;
    height: 40px;
    min-width: 40px;
    font-size: 24px;
    line-height: 29px;
  }

  .btn-help-form {
    margin-top: 14px;
  }

  .order-1-mob {
    order: 1;
    margin-bottom: 20px;
  }

  .order-2-mob {
    order: 2;
  }

  .ship-item {
    flex-direction: row;
  }
  .ship-item .where-wrapper__circle {
    width: 26px;
    min-width: 26px;
    height: 26px;
    margin-right: 8px;
  }
  .ship-item .where-wrapper__circle img {
    max-width: 13px;
  }
  .ship-item .where-content {
    text-align: start;
    padding-top: 0px;
  }

  .mob-pt0 {
    padding-top: 0px;
  }

  .review {
    padding: 20px 10px 30px 10px;
  }
  .review-text {
    padding-bottom: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }
  .review-subtitle {
    padding-bottom: 4px;
  }

  .section-review {
    padding: 50px 0;
  }

  .section-bg-view {
    padding: 50px 0;
  }

  .bg-view-title {
    padding-bottom: 20px;
  }

  .bg-view-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 0;
  }

  .pb0 {
    padding-bottom: 0;
  }

  .topmenu {
    height: auto;
    width: 100%;
  }

  .help-text {
    text-align: start;
  }

  .top p {
    text-align: center;
  }

  .popup__close {
    top: 15px;
    right: 15px;
  }

  .header__sub-list {
    position: static;
  }
  .header__sub-list span {
    top: 12px;
  }

  .icons-arrow {
    width: 17px;
    height: 15px;
  }
}
@media (max-width: 640px) {
  .park-wrapper {
    margin: 20px 0 10px 0;
  }
  .park-wrapper__item {
    flex: 0 0 100%;
    margin: 0 0 20px 0;
  }

  .where-wrapper__item {
    flex: 0 0 100%;
  }

  .where-content {
    max-width: 248px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .ship-wrapper {
    margin: -7px -5px;
    padding-bottom: 28px;
  }

  .ship-item {
    flex: 0 0 calc(50% - 10px);
    margin: 7px 5px;
  }
  .ship-item .where-content {
    text-align: start;
    padding-top: 0px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 360px) {
  /**/
}